@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@font-face {
    font-family: "Grunge Regular";
    src: url("Grunge Regular.ttf");
}
.sec{
    font-family:"Grunge Regular";
    font-size: large;
}
.text{
    font-family: 'Comforter Brush',cursive; 
    color: rgb(250,120,250);

}
'Comforter Brush',
/* @import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');  */

.second{
    font-family: "Abyssinica SIL",cursive;
}

        
